<!DOCTYPE html>
<html>
  <head>
    <title>Item List</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto Condensed", sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: url("https://png.pngtree.com/background/20220718/original/pngtree-love-face-emoji-wallpaper-background-picture-image_1661640.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }

      .container {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the items horizontally */
        opacity: 1;
      }

      .item {
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        background-color: #fafafa;
        opacity: 1;
        width: 100%; /* Ensure items take full width of the container */
      }

      @media (max-width: 600px) {
        .container {
          padding: 10px;
        }

        .item {
          padding: 8px;
          margin: 8px 0;
        }
      }
    </style>
  </head>
  <body>
    <div
      style="
        background-color: #000000;
        width: 100%;
        display: flex;
        justify-content: center;
      "
    >
      <img
        style="width: 300px; height: 150px; aspect-ratio: 1 ; padding-top: 15px;"
        src="https://res.cloudinary.com/dzhpx2alw/image/upload/v1722616133/Screenshot_2024-08-02_215755_icushj.png"
        alt="Logo"
      />
    </div>

    <div style="overflow: hidden">
      <h1
        style="
          white-space: nowrap;
          margin: 0;
          animation: marquee 6s linear infinite;
          font-size: 20px;
          color: #ffffff;
          background-color: #000000;
          width: 100%;
        "
      >
        mere babu ne thana thayaaaaa🥺?
      </h1>
    </div>

    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center; /* Center the container horizontally */
      "
    >
      <div class="container">
        <% if (items && items.length) { %> <% items.forEach(function(item) { %>
        <%- include('partials/card', { data: item }) %> <% }); %> <% } else { %>
        <p>No items found.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
